.options {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-right: 20px;
  cursor: pointer;
  color: gray;
  transition: color 0.3s;
}

.options:hover {
  color: black;
}

.options > h3 {
  font-size: 12px;
  font-weight: 400;
  display: flex;
  justify-content: center;
  align-items: center;
}

.options > img {
  object-fit: contain;
  height: 24px;
  border-radius: 50%;
}
